*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.header {
  position: fixed;
  width: 100vw;
  font-family: 'Public Sans', sans-serif;
  background-color: #d8cba2;
  border-bottom: 1px solid rgba(82, 75, 55, 0.7);
  z-index: 1;
}
.header a{
  text-decoration: none;
  color: black;
}
.headerlist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 1rem;
}
.headerlogo {
  list-style: none;
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: auto;
  cursor: pointer;
  transition: 200ms;
}
.headerlogo:hover{
  transition: 200ms;
  opacity: 0.5;
}
.headerlogo:focus {
  transition: 200ms;
  opacity: 0.5;
}
.headeritem::after{
  transition: width 150ms;
}
.headeritem {
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.headeritem::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.3rem;

  left: 0.99rem;
  bottom: 0.8rem;
  background-color: rgba(0, 117, 94, 0.7);;
}
.headeritem:hover::after, .headeritem:focus::after {
  width: 65%;
}
.headeritem:hover ul, .headeritem:focus ul {
  opacity: 1;
  transition: opacity 150ms ease-in;
  visibility: visible;
}
.headerdropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(4rem + 2px);
  left: -1rem;
  width: 10rem;
  padding: 1rem;
  gap: 0.5rem;
  opacity: 0;
  background-color: #d8cba2;
  border: 1px solid rgba(82, 75, 55, 0.5);
  border-top: 0px;
  visibility: hidden;
  transition: 100ms ease-out;
}
.headerdropdown li {
  list-style: none;
  padding: 0.5rem 1rem;
  transition: background-color 100ms;
}
.headerdropdown li:hover {
  transition: background-color 200ms;
  background-color: rgba(0, 117, 94, 0.5);
}
.headerdropdown li:focus {
  transition: background-color 200ms;
  background-color: rgba(0, 117, 94, 0.5);
}


body{
  position: relative;
  min-height: calc(100vh - 50px); /*ne ajuta sa tinem footer-ul la sfarsitul paginii, indiferent ca avem destul continut cat sa ocupam pagina sau nu*/
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FAF9F6;
}

body::after {
  content: '';
  display: block;
  height: 350px; /* Set same as footer's height */
}


.intro{
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* facem un slide introductiv care ocupa intreaga pagina */
  align-items: center;
  align-content: center;
}

.about{
  background-image: url("/images/background3.jpg"); /* intro pt. pagina de about*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}


.from-top{
  transform: translateY(-10%);
  opacity: 0;
}

.from-top.appear{
  transform: translateY(0%);
  transition: opacity 300ms ease-in, transform 500ms ease-out;
  opacity: 1;
}


.accountIntro{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px); /* facem un slide introductiv care ocupa intreaga pagina */
  align-items: center;
  align-content: center;
  background-image: url("/images/background1.jpg"); /* intro pt. pagina de about*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
}

.intro>.text{
  padding: 50px; /* header-ul e fixed; daca nu bag padding, o sa apara in spatele header-ului */
  padding-top: 45vh;
  font-size: 12px;
}

.introLogin{
  min-height: 150px; /* padding partial pt. fereastra de login */
}

.introRegister{
  min-height: 100px; /* padding partial pt. fereastra de login */
}

.loginPadding{
  min-height: 25px;
}


.login{
  min-height: 325px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.login>.loginform{
  background-color: #FAF9F6;
  padding: 2rem 1.25rem;
  height: 100%;
  width: 300px;
  min-width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px;
}

.loginform .title{
  font-size: 25px;
  font-weight: 600;
  padding-left: 0.1rem;
  margin:auto;
  margin-top: -6px;
  margin-bottom: 25px;
}

.loginform .details{
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  text-indent: 2px;
  font-weight: 500;
  margin-bottom: 17px;
}

.loginbutton input{
  border: 3px solid;
  background-color: rgb(158, 158, 158);
  border-color: rgb(158, 158, 158);
  color: rgb(73, 73, 73);
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 2px;
  margin-bottom: 2px;
  padding: 3px;
  display: block;
  transition: 200ms;
  opacity: 0.8;
}

.loginbutton input.active{
  transition: 200ms;
  opacity: 1;
  background-color: black;
  border-color: black;
  color: white;
  cursor: pointer;
}

.loginbutton input.active:hover{
  transition: 200ms;
  background-color: #d8cba2;
  border-color: #d8cba2;
  color: black;
}


.loginform a{
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  transition: 250ms;
  color: blue;
}

.loginbutton a{
  font-size: 14px;
}

.loginform a:hover {
  color: red;
  transition: 250ms;
}

.loginbutton a:hover {
  color: orange;
}

.loginform a:active {
  color: black;
}

.loginform a:visited {
  color: blue;
}

.loginform a:visited:hover {
  color: red;
}

.loginbutton a:visited:hover {
  color: orange;
}

.loginform a:focus {
  color: purple;
}


.input-box input{
  margin-top: 2px;
  display: block;
  border-radius: 5px;
  border: 2px solid #e9e9e9;
  width: 100%;
  height: 33px;
  font-size: 13px;
  padding: 13px 7px;
  transition: 125ms ease-out;
}

.input-box span{
  display:block;
}

.input-box a{
  /* display: block; */
  margin-top: 3px;
  font-size: 14px;
  font-weight: 400;
}


.input-box input:hover{
  transition: 125ms;
  outline: none;
  border-color: #c5bfbf;
  opacity: 100%;
}

.input-box input:focus{
  transition: 125ms;
  outline: none;
  border-color: #808080;
  opacity: 100%;
}

.input-box input.valid{
  transition: 125ms ease-in;
  outline: none;
  border-color: green;
  opacity: 100%;
}

.input-box input.valid:hover{
  transition: 125ms;
  outline: none;
  border-color: rgb(0, 61, 0);
  opacity: 100%;
}

.input-box input.valid:focus{
  transition: 125ms;
  outline: none;
  border-color: green;
  opacity: 100%;
}

.input-box input.invalid{
  transition: 125mws ease-in;
  outline: none;
  border-color: red;
  opacity: 100%;
}

.input-box input.invalid:hover{
  transition: 125ms;
  outline: none;
  border-color: rgb(196, 0, 0);
  opacity: 100%;
}

.input-box input.invalid:focus{
  transition: 125ms;
  outline: none;
  border-color: rgb(255, 0, 0);
  opacity: 100%;
}


.loginerror{
  opacity: 0;
  margin-top: 3px;
  margin-bottom: -4px;
  font-weight: 400;
  font-size: 12px;
  padding: 0px;
  color: red;
  transition: 50ms;
}

.loginerror.appear{
  transition: opacity 100ms ease-in;
  opacity: 1;
}


.register{
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.register>.loginform{
  background-color: #FAF9F6;
  padding: 2rem 1.5rem;
  height: 100%;
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px;
}

.login .loginbutton{
  margin-top: 40px;
  padding-left: 1px;
}

.login a{
  padding-left: 2px;
}


.aboutcontainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 600px;
}

.aboutcontainer>.image {
  grid-area: 2 / 2 / 6 / 6;
}

.aboutcontainer>.image>img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.aboutcontainer>.name {
  grid-area: 2 / 6 / 3 / 10;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
  align-self: center;
  padding: 1rem;
  font-size: 40px;
}

.aboutcontainer>.text {
  grid-area: 3 / 6 / 5 / 10;
  background-color: orange;
  padding: 1.25rem 1rem;
  padding-right: 2%;
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
}

.aboutcontainer>.buttons {
  grid-area: 5 / 6 / 6 / 10;
  align-self: center;
  padding-left: 20px;
}

.aboutcontainer>.buttons a{
  transition: 250ms;
  padding-right: 20px;
}

.aboutcontainer>.buttons a:link{
  color: purple;
}

.aboutcontainer>.buttons a:visited{
  color: purple;
}

.aboutcontainer>.buttons a:hover {
  color: black; /* animatie pe hover */
}

.aboutcontainer>.buttons a:focus{
  color: red; /* animatie pe click; nu cred ca o sa o tinem ca te duce efectiv pe alta pagina instant */
}



.from-left{
  transform: translateX(-10%);
}

.from-right{
  transform: translateX(10%);
}

.from-left, .from-right{
  opacity: 0;
}

.from-left.appear, .from-right.appear{
  transform: translateX(0);
  transition: opacity 250ms ease-in, transform 500ms ease-out;
  opacity: 1;
}


.description-from-left{
  transform: translateX(-5%);
}

.description-from-left{
  opacity: 0.0;
}

.description-from-left.appear{
  transform: translateX(0);
  transition: opacity 400ms ease-in, transform 500ms ease-out;
  opacity: 1;
}

.descriptionItem:nth-child(2).appear{
  transition-delay: 200ms;
}


.basics-from-left{
  transform: translateX(-5%);
}

.basics-from-left{
  opacity: 0.0;
}

.basics-from-left.appear{
  transform: translateX(0);
  transition: opacity 400ms ease-in, transform 500ms ease-out;
  /* transition-delay: 1000ms; */
  opacity: 1;
}


.title-from-top{
  transform: translateY(-30px);
  opacity: 0;
}
.title-from-top.appear{
  transform: translateY(0%);
  transition: opacity 100ms ease-in, transform 300ms cubic-bezier(.43,.06,.38,.88);
  opacity: 1;
}


.categories-from-bottom{
  transform: translateY(5%);
}

.categories-from-bottom{
  opacity: 0;
}

.categories-from-bottom.appear{
  transform: translateY(0);
  transition: opacity 400ms ease-in, transform 500ms ease-in-out;
  opacity: 1;
}



.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  font-family: 'Public Sans', sans-serif;
  bottom:0;
  width:100%;
  height:350px;   /* inaltimea footer-ului */
  padding: 1rem 0.5rem;
  background-color: #7c87a3;
}

.footer a{
  text-decoration: none;
  color: #002aa6;
  transition: 250ms;
}

.footer a:hover {
  transition: 150ms;
  opacity: 50%;
}

.footer a:visited {
  transition: 150ms;
  opacity: 50%;
}

.footer a:visited:hover {
  transition: 150ms;
  opacity: 50%;
}

.footerintro{
  height: 50px;
  position: absolute;
}

.footerabout{
  margin-top: 50px;
  display: flex;
  text-align: center;
  padding: 1rem 20vw;
  position: absolute;
}

.footerabout span{
  display: block;
  font-family: 'Public Sans', sans-serif;
  font-weight: 600;
}

.footerdescription{
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerdescription a{
  color: purple;
  margin-right: 5px;
}
.footerdescription a:visited{
  color: purple;
}

.sendquestions{
  margin-right: 2rem;
}

.footerinfo{
  margin-left: 2rem;
}

.sendquestions span{
  display: block;
}

.sendquestions textarea{
  margin-top: 2px;
  resize: none;
  display: block;
  border-radius: 5px;
  border: 1px solid #f5f4f2;
  width: 90%;
  height: 45px;
  padding: 5px 5px;
  transition: 150ms;
}

.sendquestions textarea:hover {
  transition: 150ms;
  outline: none;
  border-color: lightgreen;
  opacity: 50%;
}

.sendquestions textarea:focus {
  transition: 250ms;
  outline: none;
  border-color: green;
  opacity: 100%;
}

.sendquestions input{
  border: 3px solid;
  background-color: black;
  border-color: black;
  color: white;
  font-family: 'Public Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 5px;
  padding: 3px;
  display: block;
  cursor: pointer;
  transition: 250ms;
}

.sendquestions input:hover, input:visited:hover{
  background-color: red;
  border-color: red;
  transition: 250ms;
}








@media only screen and (max-width: 800px) { /* poate fi si 800px pt landscape in telefoane */
  .aboutcontainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .aboutcontainer>.image {
    grid-area: 2 / 2 / 6 / 6;
    justify-self: center;
  }
  .aboutcontainer>.image>img{
    object-fit: scale-down; /* se micsoreaza imaginea la resize; ne mai gandim daca lasam asa, dar nu e rau */
    max-height: 100%;
    width: 100%;
  }
  .aboutcontainer>.name{
    grid-area: 6 / 2 / 7 / 6;
  }
  .aboutcontainer>.text {
    grid-area: 7 / 2 / 9 / 6;
    font-size: 20px;
    padding: 1rem 1rem;
  }
  .aboutcontainer>.buttons {
    grid-area: 9 / 2 / 10 / 6;
    justify-self: center;
    justify-content: space-around;
  }
  
  .from-left{
    transform: translateY(-10%);
  }
  
  .from-right{
    transform: translateY(-10%);
  }
  
  .from-left.appear, .from-right.appear{
    transform: translateY(0);
    opacity: 1;
  }
  
  .footerabout{
    padding: 1rem 10vw;
  }

  .footerdescription{
    margin-top: 175px;
  }
}




@media only screen and (max-width: 600px) {
  .headerlogo {
    margin-left: 0.1rem;
    margin-right: auto;
    cursor: pointer;
  }

  .headeritem{
    padding: 1.5rem 0.5rem;
  }

  .headeritem::after {
    content: "";
    width: 0;
    height: 0.3rem;

    position: absolute;
    left: 0.6rem;
    bottom: 0.8rem;
    background-color: #f06292;
  }

  .headeritem:hover::after, .headeritem:focus::after {
    width: 75%;
  }

  body::after{
    height: 375px;
  }

  .aboutcontainer>.text {
    grid-area: 7 / 2 / 9 / 6;
    font-size: 18px;
    padding: 0.5rem 0.5rem;
  }

  .footer{
    padding: .5rem;
    height: 375px;
  }

  .footerintro{
    text-align: center;
    padding: 0 0.25rem;
  }

  .footerdescription {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Public Sans', sans-serif;
    bottom:0;
    width:100%;
    height:150px;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }

  .footerdescription a{
    color: purple;
    margin-right: 5px;
  }
  .footerdescription a:visited{
    color: purple;
  }

  .sendquestions{
    margin-right: 0rem;
  }

  .footerinfo{
    margin-left: 0rem;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .aboutcontainer>.text {
    font-size: 15px;
  }

  body::after{
    height: 425px;
  }

  .footer{
    height: 425px;
  }

  .footerabout{
    padding: 1rem 5vw;
  }
}






























/* stef */
.underHeader {
  background-image: url(images/leavesBackground.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
}
.messageUnderHeader {
  font-family: 'Public Sans', sans-serif;
  font-size: 50px;
  color: white;
  align-self: center;
  justify-self: center;
  border: 2px solid;
  border-color: #cdcbcb3d;
  padding: 15px;
}

.description_container{
  background-image: url("images/backgroundImage2.jpg");
  border-bottom: 5px solid #cdcbcb3d;
}
.description{
  padding: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.aboutTitle{
  color: #5aa53f;
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.descriptionTitle{
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: rgb(26, 25, 25);
  padding-bottom: 10px;
}
.descriptionItem{
  border: 2px solid;
  border-color: #cdcbcb3d;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
li {
  list-style-type: none;
  padding:5px 15px;
  color: rgb(26, 25, 25);
}
.basics_contaner{
  background-image: url("images/test2.jpg");
}


.mainContainerIndex{
  background-image: url("images/backgroundImage2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0 0 #ffffff;
  padding: 70px;
  border-bottom: 5px solid #cdcbcb3d;

}
.containerIndexBasics{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}
.itemIndexBasics{
  border: #d8cba2 solid 3px;
  padding: 30px;
  border-radius: 15px;
  background-color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.item1IndexBasics{
  display: grid;
  justify-content: center;
  align-content: center;
}
.imgBasics{
  max-width:100%;
  height:auto;
}
.titleIndexBasics{
  font-weight: bold;
  text-align: center;
  padding: 20px;
  border-top: #d8cba2 solid 2px;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
}

#imgPaddingSoil{
  padding-bottom: 10px;
}
.descriptionIndexBasics{
  font-family: 'Public Sans', sans-serif;
  font-size: 15px;
  color: #808080;
  text-align: center;
}
.mainTitleIndex{
  font-family: 'Public Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
}
.containerIndexCategories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.titleIndexCategory{
  font-family: 'Public Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #808080;
}
.centerGrid{
  display: grid;
  justify-items: center;
}
.imgCategories{
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.imgCategories:hover {
  opacity: 0.8;
}
.itemIndexBasics:hover{
  opacity: 0.7;
}
a{
  text-decoration: none;
}


.MP_container {
  /* width: 100vw; */
  height: 100vh;


  display: grid;

  grid-template-columns: repeat(4, 1fr);
  
  gap: 20px;
  padding: 10px;
  padding-top: 76px;
  box-sizing: border-box;
}

.MP_container>.div_cell {
  border: 2px solid;
  border-color: #d8cba2;
  padding: 20px;
  border-radius: 15px;
}

.UserCard {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;

  display: grid;
  grid-template-rows: 180px   58px repeat(4, 70px) ;
}

.UserCard>.Username {
  font-size: 30px;
  margin: 12px;
}

.UserCard>.Progress {
  font-size: 25px;
  margin: 12px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3,1fr);
}

.UserCard>.Progress>.ProgressType{
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 18px;
  font-weight: bold;
}

.UserCard>.Progress>.ProgressAmmount{
  font-size: 28px;
}

.UserCard img {
  border-radius: 50%;
  margin: 10px;

}

.AccountDetails {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: left;
  padding: 20px;
}

.RecentScores {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 5;
}

.Buttons {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.Buttons>.Button {
  font-weight: bold;
  text-align: center;
  vertical-align: center;
  border: 5px solid;
  border-color: #cdcbcb3d;
  border-radius: 15px;
  padding: 5px;
}

.AD_rows div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  place-items: center;
}

.AD_fieldName {
  font-weight: bold;
}

.AD_fieldContent {

}

.RS_rows div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.RS_fieldName {
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .underHeader {
    height: 350px;
  }

  .description {
    grid-template-columns: 1fr;
  }

  .containerIndexCategories {
    grid-template-columns: 1fr;
  }

  .messageUnderHeader {
    font-size: 35px;
    color: white;
    align-self: center;
    justify-self: center;
    border: 2px solid;
    border-color: #cdcbcb3d;
    padding: 15px;
  }

  .containerIndexBasics {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }


}

@media only screen and (max-width: 850px) {
  .MP_container {
    grid-template-columns: 1fr;
    grid-template-rows: 370px 450px 450px 250px;

  }

  .UserCard {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 180px repeat(2,1fr);
  }

  .UserCard img {
    width: 130px;
  }

  .AccountDetails {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: left;
    padding: 20px;
  }

  .RecentScores {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .Buttons {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {

  .containerIndexBasics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
}

@media only screen and (min-width: 1200px) {
  .containerIndexBasics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }

  .descriptionIndexBasics {
    font-size: 19px;
    color: #808080;
    text-align: center;
  }

}

@media only screen and (max-width: 1110px) {
  .UserCard>.Username {
    font-size: 25px;
    margin: 15px;
  }
  .UserCard>.Description {
    font-size: 17px;

  }

  .UserCard>.Progress>.ProgressType{
    font-size: 15px;
  }
  .UserCard>.Progress>.ProgressAmmount{
    font-size: 20px;
  }
}

<<<<<<< HEAD
/*tools*/
.toolsMainContainer{
  padding-top:68px;
  margin-left: 10%;
  margin-right: 10%;
}

.toolsTitle{
  text-align: center;
  font-size: 35px;
  color: rgb(26, 25, 25);
  padding: 20px;
}
.toolsImgMain{
  display: grid;
  justify-content: center;
  margin:20px 0px;
}
.toolContainer{
  display:grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 2px solid #cdcbcb3d;
  padding-top: 20px;
  padding-bottom: 20px;
}
.titleTool{
  font-size: 25px;
  color: rgb(26, 25, 25);
  padding-bottom: 10px;
}
.listSquare > li{
  list-style-type: square;
  font-size: 17px;
  color:#2e2c2c;
}
.textItem{
  display: grid;
  align-items: center;
}
.toolsSubtitle{
  color: #5aa53f;
  font-family: 'Public Sans', sans-serif;
  font-size: 19px;
  text-align: center;
}

/*water*/
.basicsSplit{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding:20px;
}
.basicsItem{
  background-image: url(images/backgroundImage2.jpg);
  padding: 15px;
}
.imgMainRadius{
  border-radius: 10px;
}
.infoSubject{
  text-align: justify;
  color: #2e2c2c;
}
.pinfoMain{
  padding: 7px 0px;
  text-align: justify;
  color: #2e2c2c;
}
.toolsSubtitleTitle{
  text-align: center;
  font-size: 30px;
  color: rgb(26, 25, 25);
  padding: 20px;
}
.boldSubtitle{
  text-align: center;
  font-size: 22px;
  color: rgb(42 44 42);
  padding: 40px 0px;
}
.rolesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 30px;
  border: 3px solid #cdcbcb3d;
  margin-bottom: 30px;
}
.rolesItem{
  padding: 20px;
}
.rolesTitle{
  text-align: center;
  font-size: 22px;
  color: rgb(26, 25, 25);
  padding: 15px;
}
.margin30{
  margin-bottom: 30px;
}
=======
/* @media only screen and (max-height: 850px) {

}
*/
@media only screen and (max-height: 500px) {
  .MP_container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
      }

      .UserCard{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,100px);
        grid-row-end: 2;
      }
      .UserCard img {
        width: 90px;
      }
      .UserCard>.Username {
        font-size: 25px;
        margin: 10px;
      }
      .UserCard>.Description {
        font-size: 17px;
      }

      .UserCard>.Progress>.ProgressType{
        font-size: 15px;
      }
      .UserCard>.Progress>.ProgressAmmount{
        font-size: 20px;
      }

    
      .AccountDetails {
        grid-row: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        text-align: left;
        padding: 20px;
      }
    
      .RecentScores {
        grid-row: 1;
        grid-column-start: 3;
        grid-column-end: 4;
      }
      .RS_rows div {
        padding: 10px;
      }
    
      .Buttons {
        grid-row: 1;
        grid-column-start: 4;
        grid-column-end: 5;
      }
    } 
>>>>>>> 0eabf9fad366c2f46d54aba6e441cd6970bf8635
