@font-face {
  font-family: Swansea;
  src:url('Fonts(potentially)/swansea-font') format('truetype');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}






.nav {
  position: fixed;
  width: 100vw;
  background-color: white;
  @font-family: Sora;
}
.nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1px;
  margin: 0 1rem;
}
.nav__listlogo {
  list-style: none;
  font-weight: bold;
  margin-left: 0.8rem;
  margin-right: auto;
  cursor: pointer;
}
.nav__listitem {
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.nav__listitem::after {
  content: "";
  width: 0;
  height: 0.3rem;

  position: absolute;
  left: 1rem;
  bottom: 0.8rem;
  background-color: #f06292;
}
.nav__listitem:hover::after, .nav__listitem:focus::after {
  width: 80%;
}
.nav__listitem:hover ul, .nav__listitem:focus ul {
  opacity: 1;
  visibility: visible;
}
.nav__listitemdrop {
  position: absolute;
  top: 4rem;
  left: -1rem;
  background-color: white;
  width: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  opacity: 0;
  visibility: hidden;
}
.nav__listitemdrop li {
  list-style: none;
  padding: 0.5rem 1rem;
}
.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
  background-color: #fce4ec;
}














body{
  position: relative;
  min-height: 100vh; /*ne ajuta sa tinem footer-ul la sfarsitul paginii, indiferent ca avem destul continut cat sa ocupam pagina sau nu*/
  padding-bottom: 60px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d8cba2;
}

body::after {
  content: '';
  display: block;
  height: 125px; /* Set same as footer's height */
}






.intro{
 /* top: 0;
 right: 0;
 bottom: 0;
 left: 0; */
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 align-items: center;
 align-content: center;
}

.intro>.text{
  padding: 30px;
  padding-top: 45vh;
  font-size: 12px;
}



.introLogin{
  min-height: 20vh;
}



.login{
  /* padding-top: 30vh; */
  /* height: 40vh; */
  /* top: 30vh; */
  height: 300px;
  background-color: purple;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
 }

.login>.loginform{
  background-color: grey;
  padding: 1rem;
  height: 100%;
  border-radius: 5px;
  /* filter: drop-shadow(1px 1px 1px black); */
  box-shadow: 1px 1px;
}

.login .title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  /* position: relative; */
}

/* .login .loginform .user-details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

/* .login>.loginform>.user-details>.input-box{
  display: block;
} */

.login .details{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}


.input-box input{
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  height: 25px;
  padding-left: 5px;
}

.login .loginbutton{
  /* padding-top: 5px; */
  align-self: flex-end;
}

.loginbutton a{
  /* display: block; */
  /* margin-top: auto; */
  /* justify-content: flex-end; */
}

.input-box span{
  display:block;
}
.input-box input{
}
.input-box a{
  display: block;
}
.loginbutton input{
  margin-top: 35px;
  display: block;
}
















.register{
  /* padding-top: 30vh; */
  /* height: 40vh; */
  /* top: 30vh; */
  height: 400px;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
 }

.register>.registerform{
  background-color: #FAF9F6;
  padding: 1rem;
  height: 100%;
  border-radius: 5px;
  /* filter: drop-shadow(1px 1px 1px black); */
  box-shadow: 1px 1px;
}

.registerform .title{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  /* position: relative; */
}

/* .login .loginform .user-details{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */

/* .login>.loginform>.user-details>.input-box{
  display: block;
} */

.registerform .details{
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  /* font-weight: 500; */
  margin-bottom: 20px;
}


.input-box input{
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  height: 25px;
  padding-left: 5px;
}

.registerform .registerbutton{
  /* padding-top: 5px; */
  align-self: flex-end;
}

.registerbutton a{
  font-size: 12px;
  font-family: 'Public Sans', sans-serif;
  /* display: block; */
  /* margin-top: auto; */
  /* justify-content: flex-end; */
}

.input-box span{
  display:block;
}
.input-box input{
}
.input-box a{
  display: block;
}
.registerbutton input{
  margin-top: 35px;
  display: block;
}





























/*
.container1{
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
} */

/* .container1>.image{ */
  /* object-fit: contain; */
  /* flex: 0 0 auto;
} */

/* .container1>.image>img{
  display: block; */
  /* width: 55%;
  max-height: 60%; */
  /* height: 60vh;
  object-fit: cover;
} */

/* .container1>.text{
  flex: 0 0 auto;
  padding-right: 10vw;
} */
























.container1 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.container1>.image {
  grid-area: 1 / 1 / 4 / 7;
  background-color: blue;
}
.container1>.image>img {
  /* max-width: 100%; */
  /* place-self: center; */
  /* object-position: center; */
  /* object-fit: contain; */
  /* padding-left: 5rem; */
  /* height: 40vh;
  width: 40vw */
  /* height: 80%; */
  /* justify-content: flex-end; */
  /* background-color: blue; */
  object-fit: cover;
  /* object-position: center; */
  height: 400px;
  width: 100%;
  /* max-height: 100%; */
}
.container1>.text {
  grid-area: 1 / 7 / 4 / 11;
  width: 100%
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-self: center;
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Public Sans', sans-serif;
  font-size: 25px;
}
.container1 .text .one{
  background: red;
}













.container2 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.container2>.image {
  grid-area: 1 / 5 / 4 / 11;
  background-color: blue;
}
.container2>.image>img {
  /* max-width: 100%; */
  /* place-self: center; */
  /* object-position: center; */
  /* object-fit: contain; */
  /* padding-left: 5rem; */
  /* height: 40vh;
  width: 40vw */
  /* height: 80%; */
  /* justify-content: flex-end; */
  /* background-color: blue; */
  object-fit: cover;
  /* object-position: center; */
  height: 400px;
  width: 100%;
  /* max-height: 100%; */
}
.container2>.text {
  grid-area: 1 / 1 / 4 / 5;
  background-color: red;
}
























/* .container2{
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.container2>.text{
  flex: 0 0 auto;
  padding: 10vw;
}

.container2>.image{
  flex: 0 0 auto;
  object-fit: contain;
}

.container2>.image>img{
  display: block;
  max-width: 100%;
  max-height: 30rem;
} */























.aboutcontainer {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 80vh;
}

.aboutcontainer>.image {
  grid-area: 2 / 2 / 6 / 6;
  /* max-width: 100%; */
  /* object-fit: cover;
  width: 100%;
  height: 100%; */
  /* place-self: center; */
  /* align-self: center;
  justify-self: start; */
  /* justify-self: end; */
  /* padding-right */
  /* margin-left: auto; */
  background-color: blue;
}

.aboutcontainer>.image>img {
  /* max-width: 100%; */
  /* place-self: center; */
  /* object-position: center; */
  /* object-fit: contain; */
  /* padding-left: 5rem; */
  /* height: 40vh;
  width: 40vw */
  /* height: 80%; */
  object-fit: contain;
  /* justify-content: flex-end; */
  width: 100%;
  max-height: 100%;
  background-color: blue;
}

.aboutcontainer>.name {
  grid-area: 2 / 6 / 3 / 10;
  /* background-color: red; */
  font-weight: bold;
  align-self: center;
  padding: 1rem;
  /* padding-top: 2rem; */
  font-size: 25px;
}

.aboutcontainer>.text {
  grid-area: 3 / 6 / 5 / 10;
  background-color: orange;
  padding: 2rem 1rem;
  padding-right: 2%;
  font-size: 18px;
}

.aboutcontainer>.buttons {
  grid-area: 5 / 6 / 6 / 10;
  /* background-color: green; */
  /* align-self: center;
  margin-left: 2%; */
  /* margin-right: 10%; */
  /* padding-left: 2rem; */
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  /* justify-content: space-evenly; */
  /* gap: 1rem; */
}




/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  /* margin-right: 2%; */
}

/* .button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
} */


/*
.aboutcontainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  padding-bottom: 5rem;
}

.aboutcontainer>.image{
  flex: 0 0 auto;
}

.aboutcontainer>.image>img{
  display: block;
  max-width: 100%;
  max-height: 25rem;
}

.aboutcontainer>.text{
  flex: 0 0 auto;
  padding-right: 10vw;
} */












.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsibleContent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.footer {
  position:absolute;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  bottom:0;
  width:100%;
  height:100px;   /* Height of the footer */
  padding: 1rem 0.5rem;
  background:grey;
}

@media only screen and (max-width: 800px) { /* poate fi si 800px pt landscape in telefoane */

  .container1{
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    min-height: 87.5vh;
    /* align-content: center; */
  }

  .container1>.image{
    flex: 0 0 75%;
  }

  .container1>.image>img{
    display: block;
    height: 400px;
    object-fit: cover;
  }

  .container1>.text{
    flex: 0 0 20%;
    padding: 20px;
    padding-bottom: 20vh;
  }







  .container2{
    background-color: red;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
  }

  .container2>.image{
    flex: 0 0 60%;
  }

  .container2>.image>img{
    display: block;
    height: 400px;
    object-fit: cover;
  }

  .container2>.text{
    flex: 0 0 35%;
    padding: 20px;
    padding-top: 20vh;
    padding-bottom: 20vh;
  }










  .aboutcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  .aboutcontainer>.image {
    grid-area: 2 / 2 / 6 / 6;
    justify-self: center;
    background-color: blue;
  }
  .aboutcontainer>.image>img{
    object-fit: scale-down;
    /* width: 80%;
    max-height: 100%; */
    max-height: 100%;
    width: 100%;
  }
  .aboutcontainer>.name{
    grid-area: 6 / 2 / 7 / 6;
    background-color: red;
  }
  .aboutcontainer>.text {
    grid-area: 7 / 2 / 9 / 6;
    background-color: orange;
  }
  .aboutcontainer>.buttons {
    grid-area: 9 / 2 / 10 / 6;
    justify-self: center;
    justify-content: space-around;
    background-color: green;
  }



  .footer {
    padding: 5px 5px;
    height:50px;
  }
}
